<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgx.module.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="com.lgx.module.domain.Log">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="log_info" column="log_info" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,log_info,create_time,
        deleted
    </sql>
</mapper>
