<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgx.module.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.lgx.module.domain.Post">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="post_name" column="post_name" jdbcType="VARCHAR"/>
            <result property="post_code" column="post_code" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,post_name,post_code,
        deleted
    </sql>
</mapper>
